section #padding, h1.blog-entry-title, aside, .movie-page-title, #sideTitle, section #padding h1, section #padding h2, section #padding h3, section #padding h4, section #padding h5, section #padding h6  {
	text-align: center!important;
	}
/*
.thumbnail-wrap {
	margin-left: 0;
	margin-right: 50px;
	}*/



