asgiref==3.2.6
certifi==2019.11.28
chardet==3.0.4
Django==3.0.4
django-ckeditor==5.9.0
django-js-asset==1.2.2
-e git://github.com/darklow/django-suit.git@v2#egg=django-suit
future==0.18.2
gunicorn==20.0.4
heroku==0.1.4
idna==2.9
Pillow==7.0.0
psycopg2==2.8.4
python-dateutil==1.5
pytz==2019.3
requests==2.23.0
sqlparse==0.3.1
urllib3==1.25.8
whitenoise==4.1
